@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.popup {
    position: fixed;
    left: calc(50% - 105px);
    bottom: 150px;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: lightcoral;
    border-radius: 20px;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }

  .popup--show {
    transform: scale(1);
  }

body{
    background-color:steelblue;
    background-image: url(./img/fondo.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.foto{
    border-radius: 50%;
    margin:auto;
    width: 200px;
}
.nav{
    background-color: rgb(188, 196, 208);
    height: fit-content;
}
h1{
    text-align: center;
    margin-top:100px;
}
header{
    margin:0;
    padding:0;

}
form{
    box-shadow: 10px 13px 37px #000;
    padding: 50px 20px;
    background-color: #ededed;
    /* para ajustar automaticamente a los margenes */
    margin: calc(25% + 100px);
    margin-top:700px;
    padding-top: 28px;
    margin-bottom:30px;
}
input{
    width: calc(100% - 20px);
    padding:9px;
    margin:auto;
    margin-top:12px;
    font-size:16px;
}
input[type='submit']{
    background-color: #48e;
    box-shadow: 10px 13px 37px #000;
    color: #fff;
    width:calc(50% -20px);
    margin: 0 10px;
    margin-top:22px;
    border: none;

}
